@import '~Theme/colors';

$h1Color: $pink;

.clients {
  padding-top: 250px;
  margin-bottom: 400px; 

  .text-center {
    img {
      margin-top: 25px;

    }
  }
  .subHeader {
    h1 {
      color: $h1Color;
      margin-top: 134px;    
      text-transform: initial;
    }

    p {
      margin-top: 48px;
    }
  }

  .groupCircle {
    margin-top: 250px;  
    position: relative;

    div[class^="col-"] {    
      padding-top: 62px 
    }
  } 
}