@import '~Theme/colors';
@import '~Theme/common';

$borderColor: $blue2;
$textColor: $black;

.OurWorks {
  position: relative;
  margin-top: 350px;
  background-image:  url('/assets/images/home/section1/box.png');
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: contain;
  display: block;
  margin-bottom: 50px;

  .col-lg-3 ,.content {
    top: 3px;
    position: absolute;
    width: 21%;
  
  }

  #Tab {
    margin: 0px 90px 56px;
    font-family: Roboto-Bold;
    
    .nav {      
      li {
        width: 20%;
        text-align: center;
      
         &.active, &:hover {
           border-bottom: $borderColor 2px solid; 
            border-top: 0px;
            border-left: 0px;
            border-right: 0px; 
            color: $textColor!important;
           
         }

        a {
          padding: 10px 0px;
          border: 0px; 
          color: $textColor !important;
 
          &.active, &:focus, &:hover {      
            border: 0px; 
            outline: 0px;
            background-color: $white;          
          } 
        }       
      }
    }
  }

  .slider {
    .row {
      margin-bottom: 120px;
    }
  }

 .slick-slide {
  padding: 0 14px;
  overflow: hidden;

  }
  .slick-slider {
    .slick-arrow {
      @extend .buttonMaterial;
      position: absolute;
      width: 50px;
      top: 268px;
      z-index: 1;
      color: transparent;
      
      &.slick-prev {
        left: 75%;
        &::before{
          font-family: 'Montserrat';          
          content: "SCROLL";
          color: $black;
          font-size: 13px;
          right: 70px;
          top: 10px;
          position: absolute;
        }
        &::after { 
          font-family: FontAwesome;
          content: "\F177";
          color: $black;
          font-size: 16px;
          right: 18px;
          top: 1px;
          position: absolute;
        }
      }

      

      &.slick-next {
        @extend .slick-prev;
        left: 81%;

        &::before{
          content: "";

        }
        &::after { 
          content: "\f178";
        }
      }

      
    }

    .slick-list {
      cursor: pointer;
    }
  }
}