@import '~Theme/colors';
@import '~Theme/common';
@import '~Theme/mixin';

$textColor: $pink;

.workDetail {    
  h3 {
    font-size: 24px;
    
  } 

  .breadcrumb { 
    @extend .breadcrumbHobbiz; 
  }

  .detailHeader { 
    position: relative;
    margin-top: 300px;
    margin-bottom: 119px;
    h1 {
        color: $textColor;
    }
    
    h3 {
      margin-top: 168px;
      margin-bottom: 35px;

    }
  }
  
  .detailImage {
    margin-bottom: 80.6px;

    img {
      display: block;
      margin: 0 auto;

    }

    .middle {
      padding: 68px 0;
    }
  }

  .detailTitle {
    position: relative;
    
    p {
      padding: 35px 0;

    }
    p:nth-of-type(2) {
      padding: 0px;

    }

    hr {
      margin-top: 34px;

    }

    .btn-black {
      @extend .btnBlack;
      margin-bottom: 52px;

    }
  }

  .tabBottom {
    .text-right {
      margin-bottom: 27px;
      img {
        padding-right: 19px;

      }
    }

    .arrow {
      padding-top: 19px;

    }
  }
  
  .sliderRow{
    margin: 50px 0;

    .slick-slider {
      .slick-list {
        cursor: pointer;
        height: auto !important;

        img {
          user-drag: none; 
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      }

      .row {
        margin-left: -1px;
        margin-right: 0px;
        margin-bottom: 50px;
    
      }

      .slick-dots {
        button {
          &::before {
            font-size: 20px;
            @include transition(all 500ms ease);

          }
        }
        
        .slick-active {
          button {
            &::before {
              font-size: 26px;
              color: $textColor;
              @include transition(all 500ms ease);

            }
          }
        }
      }
    }
  }
}