@import '~Theme/colors';
@import '~Theme/mixin';
@import '~Theme/common';

$textColor: $black;
$imgShadow: $boxshadowblack;
$buttonColor: $pink;

.section6 {
  margin-bottom: 50px;
  margin-top: 223px;
  position: relative;
   
  .text-center {
    h1 {
      text-align: center;
      margin-bottom: 53px;
      margin-top: 20px;

    }

    img {
      box-shadow: 2.1px 3.4px 5.7px 0.3px $imgShadow;
      margin-bottom: 20px;

    }
  }

  .btn-black {
        @extend .btnBlack;
        padding: 14px 22px 8px 22px;
  }

  .slick-slider {
    .slick-list {
      cursor: pointer;
      height: 500px ;

    }

    .row{
      margin-left: -1px;
      margin-right: 0px;
      margin-bottom: 50px;
  
    }

    .slick-dots {
      button {
        &::before {
          font-size: 20px;
          @include transition(all 500ms ease);

        }
      }
      
      .slick-active {
        button {
          &::before {
            font-size: 26px;
            color: $buttonColor;
            @include transition(all 500ms ease);

          }
        }
      }
    }
  }
}

@media (max-width: 480px){
  .section6 {
    .container {
      padding: 0px;

    }

    .slick-next {
      position: initial;

    }

    .slick-slider {
      width: 100%;
      left: 0em;
      margin-right: 0em;
    
      .slick-prev{
        position: initial;

      }   
    }    
  } 
}