@import '~Theme/colors';

$HeaderColor: $pink;
$pSection4: $black;
$shadow: $boxshadowblack;

.section4 {
  margin-bottom: 150px;
  position: relative;
  margin-top: 70px;

  .header {
    color: $HeaderColor;
    margin-bottom: 80px;
    text-transform: none;
  }

  .text-right {
    p {
      padding-top: 44%;
      font-size: 21px;
      font-weight: bold;
      line-height: 2;
      text-align: right;
      color: $pSection4;
      text-shadow: 2.1px 3.4px 5.7px $shadow;

    }
  }

  img {
    width: 100%;

  }

  .rowPosition {
    position: relative;
    padding-left: 9px;

  }

  div[class^="col-"] {    
    position: relative;
    padding-left: 0px;
    padding-bottom: 15px;

  }
  
  .imgW355 {
     width: 355px;
  }

  .imgMoblie {
    @extend .imgW355;
    position: absolute;
    left: -379px;

  }

  .imgWeb {
    @extend .imgW355;
    float: right;
    box-shadow: 7px 11px 21px 0 $shadow, 0 6px 26px 0 rgba(0, 0, 0, 0.44);
    margin-top: 11px;

  }

  .imgMonitor {
    height: 734px;
    box-shadow: 7px 11px 21px 0 $shadow, 0 6px 26px 0 rgba(0, 0, 0, 0.44);

  }

  .imgWhite {
    left: -143px;
    top: 165px;
    position: absolute;
    z-index: -1;

  }

  .imgCreative {
    margin-left: -8px;
    @extend .imgW355;
    box-shadow: 7px 11px 21px 0 $shadow, 0 6px 26px 0 rgba(0, 0, 0, 0.44);

  }
}

@media (max-width: 480px){
  .section4 {
    .text-center {
      text-align: left;

    } 

    .xsImg {
      padding: 0px;

    }

    
    .text-right {
      p {
        padding-top: 155%;
        font-size: 17px;
        line-height: 1.47;
        text-shadow: none;

      }
    }
  }
}