@import '~Theme/colors';
@import '~Theme/common';
@import '~Theme/size';

.section2 {
  margin-top: 70px; 
  margin-bottom: 150px;
  
  .header {
    text-align: center;
    margin-bottom: 50px;
  }

  .slick-slider {
    left: 17%;
    margin-right: 19%;
    
    .slick-arrow {
      @extend .buttonMaterial;
      position: absolute;
      width: 50px;
      height: 49px;
      top: -18px;
      z-index: 1;
      color: transparent;

      &.slick-prev {
        left: 85%;
        
        &::after { 
          font-family: FontAwesome;
          content: url('/assets/images/home/section2/left.png');
          color: $black;
          font-size: 16px;
          right: 2px;
          top: 1px;
          position: absolute;
        }
      }

      &.slick-next {
        @extend .slick-prev;
        left: 89.5%;

        &::after { 
          content: url('/assets/images/home/section2/right.png');
        }
      }
    }

    .slick-list {
      cursor: pointer;
      max-height: 400px;
    }
  }
}

@media (max-width: $xs) {
  .section2 {
    margin-bottom: 110px;
    
    .slick-slider {
      margin-right: -4em;
      left: -4em;
     
      .slick-list{
        padding-right: 1em;
      }
    } 

    img {
      width: 340px;

    }
  } 
}