@import '~Theme/colors';

$pColor: $pink;
$pHeader: $grey;
$header: $black;
$pText1: $boxshadowblack;
$imgShadow: $windWalk;

.section3 {
  position: relative;
  margin-bottom: 150px;

  .header {
    margin-bottom: 80px;
  }

  .boxBottom {
    text-align: left;
    bottom: 0px;
    position: relative;
    padding-right: 15px;
    padding-left: 0px;
    
    div[class^="col-"] {
      padding-right: 21px;
      padding-left: 0px;
      
    }

    .header {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: $header;
      padding-bottom: 20px;

    }

    p {
      font-size: 17px;
      line-height: 1.47;
      text-align: left;
     
    }    
  }

  .subHeader {
      padding-top: 70px;
      padding-left: 20px;
      font-size: 21px;
      font-weight: bold;
      line-height: 2;    
      color: $pColor;

    }  

   div[class^="col-"] {    
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    .imgShadow {
      box-shadow: 0 9px 0px 0px $imgShadow,
      0 -9px 0px 0px $imgShadow, 
      -11px 0px 61px -1px $pText1, 
      -12px 0 15px -4px $imgShadow;

    }

    .imgLine {
      position: absolute;
      top: 50px;
      left: 159px;
      max-width: 18px;

    }

    img {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .subHeader {
      padding-top: 0px;
      font-size: 17px;
    }  
  }

  @media (max-width: 480px) {
    .section3 {
        padding-left: 15px;

      img {
        padding-left: 15px;
        padding-right: 15px;

      }

      .boxBottom {
        padding-left: 15px ;

        h3 {
          padding: 10px 0;
        }
        
        p {
          padding: 10px 0;
          
        }
      }
    }
  }
}


 