$pink:#f9158b;
$purple: #5b15f9;
$yello: #f9f615;
$white: #ffffff;
$black: #000000;
$black2:#383643;
$blue:#4b8bff;
$blue2:#4a88fa;
$grey: #4a4a4a;
$grey2: #7b7b7b;

$mainFontColor: #7b7b7b;

$boxshadowblack : rgba(0, 0, 0, 0.14);
$windWalk:rgba(255, 255, 255, 0);


