.Arrow{  
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
}

100% { 
    -webkit-transform: translateY(0);
}
}
         
@keyframes bounceInDown {
  0% {
      opacity: 0;
      transform: translateY(-200px);
  }
  
  100% {
      transform: translateY(0);
  }
}

.bounceInDown {
-webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
}