@import '~Theme/colors';
@import '~Theme/common';

$hrColor: $pink;
$buttonColor: $pink;
$h2Color: $black2;
$h3Color: $mainFontColor;
$post-meta: $grey3;
$card-detailsColor: $white;
$cardHover: $black0_1;

@media (max-width: 480px) {
  .cardHome {
    box-shadow: 0px 36px 38px 0 rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  } 
}

.cardHome {
  @extend .cardHobbiz;
  height: 450px;
  transition: all .2s ease;

  .card-image {
    width: auto;
    transition: .2s all ease;
  }

  .card-details {
    transition: .2s all ease;

    h2 {
     color: $h2Color;

    }
  }

  .post-meta {
    background: transparent;
    color: $grey3;
    padding: 0px 0px 25px 18px;

    .btn-white {
      @extend .btnWhite;
      height: 31.4px;

      &:hover {
        border: 2px solid $buttonColor;  
        background-color: white; 
        color: $buttonColor;  
      }

      .fa{
        padding-left: 10px; 
        
      }
    }
  }

  &:hover {
    box-shadow: 11px 19px 60px $cardHover;

    .card-image {
      transform: scaleY(0.9);
      opacity: 0.6;

    }

    .card-meta {
      height: 30%;

    }

    .card-details {
      top: 30%;
      background: $card-detailsColor;
      
      p {
        opacity: 1;

      }
    }
  }
}