@import '~Theme/colors';

$backGroundColor: $pink;
$h5Color: $white;
@media (max-width: 480px) {
  .footer {
    h5 {
      float: left !important;

    }
  }
}
.footer {
  background-color: $backGroundColor;
  padding-top: 10px;
  padding-bottom: 10px; 

  h5 {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 2px;
    color: $h5Color;
    padding-top: 6px;

  } 
  
  img {
    float: right;

  }
}