ul.popCircle {
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;


    button {
      position: absolute;
      border-radius: 50%;
      border: 0;
      color: white;
      font-family: Verdana;
      font-weight: bold;
      font-size: 50px;
      cursor: pointer;
      padding: 0;
      box-shadow: 19.1px 30.5px 38px 0 rgba(0, 0, 0, 0.14);
      z-index: 1;
    }
  }
}



