@mixin border-radius($radius: 10px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -o-transition: $x;
  transition: $x;
  -ms-transition: $x;
}

@mixin placeholder{
  ::-webkit-input-placeholder { /* Chrome */
    color: $placeColor;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $placeColor;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $placeColor;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: $placeColor;
    opacity: 1;
  } 
}

@mixin notDragable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin animationCircle {
  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}