@import '~Theme/variables';
@import '~Theme/colors';

  // .circle {
  //   position: absolute;
  //   border-radius: 50%;
  //   box-shadow: 19.1px 30.5px 38px 0 $boxshadowblack;
  // }

  .pink {
    transform: translate(-50%, -50%);
    background-color: $pink;
    width: 86px;
    height: 86px;
    @extend  .circle;  
  }
  .purple {
    transform: translate(50%, -50%);
    background-color: $purple;
    width: 145px;
    height: 145px;
    @extend  .circle;  
  }

  .blue {
    transform: translate(-50%, 50%);
    background-color: $blue;
    width: 264px;
    height: 264px;
    @extend  .circle;  
  }

  .yellow {
    transform: translate(50%, 50%);
    background-color: $yello;
    width: 86px;
    height: 86px;
    @extend  .circle;   
  }

  .alignyellow {
    top: 670px;
    left: 40%;
  }
  .alignblue {
   top: 401px;
    left: 39%;

  }
  .alignpurple {
    top: 540px;
    left: 26%;
  }
  .alignpink {
    top: 417px;
    left: 22%;
  }
 
