@import '~Theme/colors';

$hrColor : $blue2;
$headerColor : $black2;

.section1 {
  background-image:  url("Home/box.png");
  background-repeat: no-repeat;
  background-position: 35% 50%;
  background-size: contain;
  height: 90vh;
  display: block;

  p {
    text-align: justify;
  }
 
  .imgRight {
    width: 32px;
    height: 5px;
    object-fit: contain;
    background-color: $hrColor;
    margin: 5px 0;
    float: right;
  }

  .margin1 {
    margin: 100px 0 20px 0;
    
    h2 {
      font-size: 38px;
      font-weight: bold;
      line-height: 1.11;
      letter-spacing: 1.9px;
      text-align: left;
      color: $headerColor;
    }
  } 
}
