.section5 {
  .header {
    text-align: center;
    margin-bottom: 50px;
  }

  ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .list-group-item {    
      float: left;
      width: 20%;
      padding: 35px 0;
      box-sizing: border-box;
      border: 0px;
      
      img {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        
      }
    }
  }
}

.example-enter {
    overflow: hidden;
 height: 0;
 -webkit-transition: all 2s ease;

}

.example-enter.example-enter-active {
  height: auto;
  //animation: slide 1s ease 1s forwards;
  -webkit-transition: all 2s ease;
}

.example-leave {
    height: auto;
     -webkit-transition: all 2s ease;
}

.example-leave.example-leave-active {
    height: 0;
    overflow: hidden;
  // animation: slide 1s ease 1s forwards;
  -webkit-transition: all 2s ease;
}