@import '~Theme/colors';

$pColor: $pink;

.sections3 {
  position: relative;

  .heading {
    text-align: center !important;
    margin: 56px 0;    

    .bigHead {
      font-size: 38px;
      font-weight: bold;
      line-height: 1.11;
      letter-spacing: 1.9px;
      color: #4a4a4a;

    }
  }

  .positonBotton {
    bottom: 0px;
    position: absolute;

    .header {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: #000000;
      padding-bottom: 20px;
    }

    p {
      font-size: 17px;
      line-height: 1.47;
      text-align: left;
      color: #7b7b7b;
    }    
  }

  .pText1 {
      padding-top: 70px;
      padding-left: 20px;
      font-size: 21px;
      font-weight: bold;
      line-height: 2;    
      color: $pColor;
      text-shadow: 2.1px 3.4px 5.7px rgba(0, 0, 0, 0.1);

    }  

  .img {    
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    .imgshadow {
      box-shadow: 0 9px 0px 0px rgba(255, 255, 255, 0),
      0 -9px 0px 0px rgba(255, 255, 255, 0), 
      -11px 0px 61px -1px rgba(0, 0, 0, 0.8), 
      -12px 0 15px -4px rgba(31, 73, 125, 0);
    }

    .imgline {
      position: absolute;
      top: 50px;
      left: 159px;
    }

    .imgfull {
      width: 100%;
    }
  }
}
  
 