@import '~Theme/colors';

.section2 {
  .pageHeader {
    text-align: center;
    margin-bottom: 10px;
  }
  .slickSlider {
    left: 17%;
    margin-right: 19%;

    img {
      height: 400px;
    }
    
    .slick-prev {
      background-color: red;
    }
  }
}
