@import '~Theme/colors';
@import '~Theme/common';

.section2 {
   textarea:focus, input:focus, button:focus {
    outline: none;
  }
  .ourWork {
    text-align: center;
    margin-bottom: 50px;
  }
  .slick-slider {
    left: 17%;
    margin-right: 19%;
    
    .slick-arrow {
      @extend .buttonMaterial;
        position: absolute;
        width: 50px;
        top: -28px;
        z-index: 1;
        color: transparent;

      &.slick-prev {
        right: 160px;
        
        &::after { 
          font-family: FontAwesome;
          content: "\F177";
          color: $black;
          font-size: 16px;
          right: 18px;
          top: 1px;
          position: absolute;
        }
      }
      &.slick-next {
        right: 87px;

        &::after { 
          font-family: FontAwesome;
          content: "\f178";
          color: $black;
          font-size: 16px;
          right: 18px;
          top: 1px;
          position: absolute;
        }
      }
    }

    .slick-list {
      max-height: 400px;
    }
  }
}
