@import '~Theme/colors';

$pColor: $pink;
$pHeader: $gray;
$header: $black;
$pBottom: $gray2;
$pText1: $boxshadowblack;
$imgShadow: $windWalk;

.section3 {
  position: relative;

  .Header {
    text-align: center !important;
    margin: 56px 0;    

    p {
      font-size: 38px;
      font-weight: bold;
      line-height: 1.11;
      letter-spacing: 1.9px;
      color: $pHeader;

    }
  }

  .positonBotton {
    bottom: 0px;
    position: absolute;
    padding-right: 15px;
    padding-left: 0px;
    
    .paddingRight {
      padding-right: 21px;
      padding-left: 0px;
    }

    .header {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: $header;
      padding-bottom: 20px;
    }

    p {
      font-size: 17px;
      line-height: 1.47;
      text-align: left;
      color: $pBottom;
    }    
  }

  .pText1 {
      padding-top: 70px;
      padding-left: 20px;
      font-size: 21px;
      font-weight: bold;
      line-height: 2;    
      color: $pColor;
      text-shadow: 2.1px 3.4px 5.7px $pText1;

    }  

   div[class^="col-"]{    
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    .imgshadow {
      box-shadow: 0 9px 0px 0px $imgShadow,
      0 -9px 0px 0px $imgShadow, 
      -11px 0px 61px -1px $pText1, 
      -12px 0 15px -4px $imgShadow;

    }

    .imgline {
      position: absolute;
      top: 50px;
      left: 159px;
      max-width: 18px;

    }

    img {
      width: 100%;
    }
  }
}
  
 