@import '~Theme/colors';
@import '~Theme/common';

.driven {
  margin-top: 360px;

  .title {
    margin-top: 175px;
    background-image: url('/assets/images/about/driven/card.png');
    background-repeat: no-repeat;
    background-position: 90% 35%;
    background-size: inherit;
    display: block;
    padding-left: 61px;

    span {
      color: $pink;
    }
    p {
      padding-right: 80px;
    }

    h3 {     
      margin-top: 140px;
      line-height: 2;
      color: #4b8bff;
    }

    .btn-black {
      margin-top: 42px;
      @extend .btnBlack;
      width: 140px;
      padding: 14px 22px 8px 22px;
    }
  }

  .blogShow {
    h3 {
      text-transform: uppercase;
    }

    p {
      text-align: justify;
    }

    img {
      width: 100%;
    }
    
    .rowImg1 {
      margin-bottom: 70px;
    }

    .rowImg3 {
      margin-top: 135px;
    }
  }

 @media (max-width: 480px) {
  .title {
    padding-left: 15px;

    p {
      margin-top: 35px;
      padding-right: 20px;
    }
  }
 }
}