@import '~Theme/colors';

$h3Color: $pink;

.HelloFriend {
  margin-top: 280px; 
  background-image: url('/assets/images/about/helloFriend/card.png');
  background-repeat: no-repeat;
  background-position: 52% 84%;
  background-size: 35%;
  display: block;

  .text-center {
    img {
      width: auto;
      margin-bottom: 153px;
      margin-top: 25px;
    }
  }

  .row {
    .blockText{
      padding-left: 31.6px;

      h3{
        margin-top: 0px;
      }

      p {
        margin-top: 30px;
      }
    } 
  } 

  .textColor {
    padding-bottom: 250px;
    margin-top: 15px;

    .txPink {
      color: $pink;
      line-height: 2;

    }
  }

  .row2Image {
    margin-top: 37px;
   

    .imgOut {
      position: absolute;
      left: -280px;

    }
  }



  @media (max-width: 480px) {
  // img {
  //   width: 100%;
  // }
  }
}
