@import '~Theme/colors';
@import '~Theme/common';

$spanColor: $pink;
$hrColor: $blue2;
$allWorkColor: $black;
$textSmallColor: $mainFontColor;
.OurMom {
  .text-center {
    margin-bottom: 380px;
  }

  .formFreshDesign {
      margin-top: 150px;

    .textSmall {
      font-size: 11.1px;
      color: $textSmallColor;
      padding: 0 10px;
      vertical-align:middle;

    }

    p {
      margin: 34px 0;

    }

    .spanH1 {
      color: $spanColor;

    }
    
    .btn-black {
      @extend .btnBlack;
      padding: 14px 22px 8px 22px;
      width: 140px;

    }
  }

  .formUserInterfaces {
    h1 {
      padding-left: 64px;
    }
    .groupName {
      padding-left: 82px;
      
      .allWork {
        color: $allWorkColor;
        font-weight: bold;
      }
      .popular {
        margin: 0 48px;
      }

      hr {
        float: right;
        padding-right: 0px;
        background-color: $hrColor;

      }
    }
  }

  .zImg{
    position: relative;

    .card0 {
      z-index: 3;
      
    }
    .card1 {
    position: absolute;
    top: -208px;
    left: 74px;
    z-index: -2;

    }
    .card2 {
      z-index: -3;
      position:absolute;
      left: 19%;
      top: 26%;

    }
  }

  @media (max-width: 480px) {
    .formFreshDesign {

    }
  }
}

