@import '~Theme/colors';

.card {
  float: left; 
  height: 450px;
  position: relative;
  transition: all .2s ease;
  overflow: hidden;
}

.card-image {
  width: auto;
  transform: scale(1);
  transform-origin: 0 0;
  transition: .2s all ease;
}

.card-details {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  padding: 20px;
  transition: .2s all ease;
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: solid 2px #f9158b;
    margin: 0.5em 0;
    padding: 0; 
    width: 20%;

  }

  h2 {
    margin: 0;
    padding: 0 0 10px;
    font-size: 20.6px;
    font-weight: bold;
    text-align: left;
    color: #383643;

  }

  h3 {
    margin-top: 0px;
    font-size: 12.8px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 1.9px;
    color: #7b7b7b;
    text-transform:uppercase;
    
  }

  p {
    color: #666666;
    font-size: 15px;
    line-height: 1.8em;
    opacity: 0;
    transition: .4s all ease;

  }
}

.post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: #999;
  padding: 30px;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  span {
    margin-right: 1em;
  }
}

.card:hover,
.card.hover {
      box-shadow: 11px 19px 60px rgba(0, 0, 0, 0.1);
  .card-image {
    transform: scaleY(0.9);
    opacity: 0.6;
  }
  .card-meta {
    height: 30%;
  }
  .card-details {
    top: 30%;
    background: white;
    
    p {
      opacity: 1;
    }
  }
}