@import '~Theme/colors';
@import '~Theme/common';

$hrColor: $pink;
$buttonColor: $pink;
$h2Color: $black2;
$h3Color: $mainFontColor;
$post-meta: $grey3;
$card-detailsColor: $white;
$cardHover: $black0_1;

.card2 {
  float: left; 
  height: 210px;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: 11px 19px 60px $cardHover;

.card-image {
  width: auto;
  transform: scale(1);
  transform-origin: 0 0;
  transition: 0.5s all ease;
}

.card-details {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  padding: 20px;
  transition: 0.5s all ease;
  z-index: 1;


  h2 {
    margin: 0;
    padding: 0 0 10px;
    font-size: 20.6px;
    font-weight: bold;
    text-align: left;
    color: white;
     opacity: 0;
    transition: .4s all ease;
  }

  h3 {
    margin-top: 10px;
    font-size: 12.8px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 1.9px;
    color: $h3Color;
    text-transform:uppercase;
    
  }

  p {
    font-size: 15px;
    opacity: 0;
    transition: .4s all ease;

  }
}

.post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: $grey3;
  padding: 13px 0px 13px 18px;
  z-index: -1;

  p{
    color: black;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  span {
     font-size: 14.6px;
  line-height: 0.83;
  text-align: right;
  color: #000000;
  text-transform: uppercase;
  
  }
}

&:hover {
 
  // .card-image {
  //   opacity: 0.6;
  // }
  // .card-meta {
  //   height: 30%;
  
  // }
  .post-meta{
    box-shadow: 0px -20px 144px 54px rgba(51, 51, 51, .96);
  }
  .card-details {
    top: 42%;  
   
    background: transparent;
    
    h2{
      color: white;
      opacity: 1;
    }
  }
}
}