@import '~Theme/colors';
@import '~Theme/common';

$hrColor: $pink;
$buttonColor: $pink;
$h2Color: $black2;
$h3Color: $mainFontColor;
$post-meta: $grey3;
$card-detailsColor: $white;
$cardHover: $black0_1;

.card {
  float: left; 
  height: 450px;
  position: relative;
  transition: all .2s ease;
  overflow: hidden;
}

.card-image {
  width: auto;
  transform: scale(1);
  transform-origin: 0 0;
  transition: .2s all ease;
}

.card-details {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  padding: 20px;
  transition: .2s all ease;
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: solid 2px $hrColor;
    margin: 0.5em 0;
    padding: 0; 
    width: 20%;

  }

  h2 {
    margin: 0;
    padding: 0 0 10px;
    font-size: 20.6px;
    font-weight: bold;
    text-align: left;
    color: $h2Color;

  }

  h3 {
    margin-top: 10px;
    font-size: 12.8px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 1.9px;
    color: $h3Color;
    text-transform:uppercase;
    
  }

  p {
    font-size: 15px;
    opacity: 0;
    transition: .4s all ease;

  }
}

.post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: $grey3;
  padding: 0px 0px 25px 18px;

   .btn-white {
    @extend .btnWhite;
    height: 31.4px;

    &:hover {
      border: 2px solid $buttonColor;  
      background-color: white; 
      color: $buttonColor;  
    }

    .fa{
      padding-left: 10px; 
      
    }
  }
  


  a {
    color: inherit;
    text-decoration: none;
  }
  span {
    margin-right: 1em;
  }
}

.card:hover,
.card.hover {
      box-shadow: 11px 19px 60px $cardHover;
  .card-image {
    transform: scaleY(0.9);
    opacity: 0.6;
  }
  .card-meta {
    height: 30%;
  }
  .card-details {
    top: 30%;
    background: $card-detailsColor;
    
    p {
      opacity: 1;
    }
  }
}
