.footer {
  background-color: #f9158b;
  padding-top: 10px;
  padding-bottom: 10px; 

  h5 {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 6px;

  } 
  
  img {
    float: right;

  }
}