@import '~Theme/colors';
@import '~Theme/mixin';
@import '~Theme/common';
@import '~Theme/size';

//////////////////////////////////  
  .sweet-alert {
    font-family: Roboto, Mitr;
    
    button {
      @extend .btnBlack;
    }
  }
//////////////////////////////////
  .transition-enter {
    opacity: 0.01;
  }

  .transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 200ms ease;
  }

  .transition-leave {
    opacity: 1;
  }

  .transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease;
  }
  