@import '~Theme/colors';
@import '~Theme/mixin';

///////////// Roboto
@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/Roboto/Roboto-Regular.eot');
  src: url('/assets/fonts/Roboto/Roboto-Regular.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), 
        url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
 
@font-face {
  font-family: Roboto-Bold;
  src: url('/assets/fonts/Roboto/Roboto-Bold.eot');
  src: url('/assets/fonts/Roboto/Roboto-Bold.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff'), 
        url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-Italic;
  src: url('/assets/fonts/Roboto/Roboto-Italic.eot');
  src: url('/assets/fonts/Roboto/Roboto-Italic.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Roboto/Roboto-Italic.woff') format('woff'), 
        url('/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

///////////// Montserrat
@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.eot');
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
        url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.eot');
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
        url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-Italic;
  src: url('/assets/fonts/Montserrat/Montserrat-Italic.eot');
  src: url('/assets/fonts/Montserrat/Montserrat-Italic.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Montserrat/Montserrat-Italic.woff') format('woff'), 
        url('/assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

///////////// Mitr
@font-face {
  font-family: Mitr;
  src: url('/assets/fonts/Mitr/Mitr-Light.eot');
  src: url('/assets/fonts/Mitr/Mitr-Light.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Mitr/Mitr-Light.woff') format('woff'), 
        url('/assets/fonts/Mitr/Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: Mitr-Bold;
  src: url('/assets/fonts/Mitr/Mitr-Regular.eot');
  src: url('/assets/fonts/Mitr/Mitr-Regular.eot?') format('embedded-opentype'), 
        url('/assets/fonts/Mitr/Mitr-Regular.woff') format('woff'), 
        url('/assets/fonts/Mitr/Mitr-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto, Mitr;
  color: $mainFontColor;
  
  button, input, optgroup, select, textarea{
    font-family: Roboto, Mitr;
  }

  textarea:focus, input:focus, button:focus {
    outline: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat-Bold, Mitr-Bold;
    color: $black;
  }

  h1 {
    font-size: 38px;
    color: $black2;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 1.9px;
    
  }

  h3 {
    font-size: 21px;
    font-weight: bold;
   
  }

  p {
    font-size: 17px;
    line-height: 1.47;
    
  }

  hr {
    width: 46px;
    height: 5px;
    object-fit: contain;
    background-color:  $blue2;
    margin: 21px 0;

  }
  
  .mt05 {
    margin-top: 5px;
  }

  .mt10 {
    margin-top: 10px;
  }

  .slick-slider {
    .slick-list {
      cursor: pointer;
      height: auto !important;

      img {
        @include notDragable;
      }
    }
  }
}
